@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

 :root {
  font-family: 'Bebas Neue';
  overflow: hidden;
  cursor: none;
}


@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
}

.stroked-text-black {
  color: transparent;
  -webkit-text-stroke: 3px black;
}

.stroked-text-white {
  color: transparent;
  -webkit-text-stroke: 3px white;
}

/* .custom-cursor-black {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: all 0.1s ease;
  transform: translate(-50%, -50%);
  transition-property: width, height, border;
}

.custom-cursor-white {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: all 0.1s ease;
  transform: translate(-50%, -50%);
  transition-property: width, height, border;
} */


.custom-cursor{
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  pointer-events:none;
  z-index: 9999999;
  mix-blend-mode: difference;
  padding: 10px;
  transition: all 0.1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .custom-cursor {
    display: none;
  }
}